<div class="row w-100">
        <div class="col-4" *ngFor="let data of studentDetailsData">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Student Id : </h5>
                  <div class="card-text">
                    <div class="">Name : </div>
                    <div class="">Gender : </div>
                    <div class="">Age : </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
<div>
    <button class="btn btn-success">Add Class</button>
</div>